*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/

# ignores the Maven folder
target/

# eclipse and project settings
.settings/
.project
.classpath
.eclipse-pmd
.DS_STORE
.checkstyle

# Data, db folder and recently opened gfa files
Data/
db/
recentgfa
