.LIN2 {
	-fx-fill: #0000FF;
	-fx-base: -fx-fill;
	-fx-pressed-base: red;
}

.LIN2:hover {
    -fx-stroke: #0000FF;
}

.LIN4 {
	-fx-fill: #FF0000;
}

.LIN4:hover {
	-fx-stroke: #FF0000;
}

.node {

}

.node:hover {
	-fx-stroke: #000000;
}



/*
THESE LINEAGES WILL BE USED IN FUTURE

.LIN1 {
	-fx-background-color: #ED00C3;
	-fx-fill: #ED00C3;
    -fx-stroke: #ED00C3;
    -fx-color: #ED00C3;
}

.LIN3 {
	-fx-background-color: #500079;
	-fx-fill: #500079;
    -fx-stroke: #500079;
    -fx-color: #500079;
}

.LIN5 {
	-fx-background-color: #4E2C00;
	-fx-fill: #4E2C00;
    -fx-stroke: #4E2C00;
    -fx-color: #4E2C00;
}

.LIN6 {
	-fx-background-color: #69CA00;
	-fx-fill: #69CA00;
    -fx-stroke: #69CA00;
    -fx-color: #69CA00;
}

.LIN7 {
	-fx-background-color: #FF7E00;
	-fx-fill: #FF7E00;
    -fx-stroke: #FF7E00;
    -fx-color: #FF7E00;
}

.LINanimal {
	-fx-background-color: #00FF9C;
	-fx-fill: #00FF9C;
    -fx-stroke: #00FF9C;
    -fx-color: #00FF9C;
}

.LINB {
	-fx-background-color: #00FF9C;
	-fx-fill: #00FF9C;
    -fx-stroke: #00FF9C;
    -fx-color: #00FF9C;
}

.LINCANETTII {
	-fx-background-color: #00FFFF;
	-fx-fill: #00FFFF;
    -fx-stroke: #00FFFF;
    -fx-color: #00FFFF;
}
*/
/*
LIN-1         #ed00c3
LIN-2         #0000FF
LIN-3         #500079
LIN-4         #FF0000
LIN-5         #4E2C00
LIN-6         #69CA00
LIN-7         #FF7E00
LIN-animal    #00FF9C
LIN-B         #00FF9C
LIN-CANETTII  #00FFFF
*/  